/* ------ fonts ---------- */

h4 {
    color: black;
  }
  /* error font */
  .error-p {
      /* font-size: .5rem; */
      font-weight: bold;
      color: red;
  }

/* /.fonts */


/* content min height */

.content-min-height {
  min-height: 36rem;
}


/* ==============
         logo
     =============== */
.tal-brand img{
    height: 6.5rem;
    padding: -0.3rem 1rem;
    width: 13.2rem;
  }


  /* _________Card _________ */

 p{
     margin-bottom: 0.4rem;
}
.card-shadow {
    box-shadow: 1px 1px 1px 1px #5d5b5b1f;}

/*
============================
 Side bar color
============================

*/

.sidebar-background-color {

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffcc00), to(#ffcc00));
    background-image: linear-gradient(180deg, #212121 10%, #212121 100%);
    background-size: cover;
  }

  /* /.sidebar-color */




  /*   ===============
        buttons
    ==============*/


  .btn-tal {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }

  .btn-tal:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
  }

  .btn-tal:focus, .btn-tal.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  }

  .btn-tal.disabled, .btn-tal:disabled {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }

  .btn-tal:not(:disabled):not(.disabled):active, .btn-tal:not(:disabled):not(.disabled).active,
  .show > .btn-tal.dropdown-toggle {
    color: #fff;
    background-color: #2653d4;
    border-color: #244ec9;
  }

  .btn-tal:not(:disabled):not(.disabled):active:focus, .btn-tal:not(:disabled):not(.disabled).active:focus,
  .show > .btn-tal.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  }



/*-------------- Footer  ------------*/


 footer {
    
 }


 /* footer end */



 /*---------  franchise  -----------  */

.file-upload input[type='file'] {
  display: none;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



.rounded-lg {
  border-radius: 1rem;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}


/*  =====================
    User Profile
 =================== */

.think-user-profile .user-img img {
    height: 200px;
    width: 200px;
    /* border-radius: 5rem; */
}
.think-user-profile .success {
  color :#36b9cc;
  /* font-size: 0.81rem; */
}
.user-info {
  padding-left: 5%;
}
.small-p {
    /* font-size: 0.8rem; */
    margin-bottom: 0.4rem;
}
.small-p-bold {
    font-weight: bolder;
    color:  #2c2c2c;
    /* font-size: 0.7rem; */
    margin-bottom: 0.4rem;

}
.color-text {
  color :#36b9cc;
  /* font-size: 0.91rem; */
  margin-bottom: 0.4rem;

}



.think-user-profile .think-user-profile p{
  line-height: .1rem;

}
.think-user-profile p {
    font-weight: bolder;
    color:  #2c2c2c;
    font-size: 0.9rem;
}


.think-user-profile i {
    color: #36b9cc;
    font-weight: bold;
    font-size: 19px;
}

/* /.user profile */



/* ==============
       Courses
    =============== */

 .zoom-img-holder {
        overflow: hidden;
  }
  .img-dark-zoom {
        height: 170px;
        transform: scale(1);
        transition: transform 0.15s, filter 0.15s;
  }
  .img-dark-zoom:hover {
        transform: scale(1.095);
        filter: brightness(80%);

  }
  .zoom-img-holder .description{
    position: absolute;
    top: 150px;
    left: 90px;
    font-size: 25px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility 0.2s;
}
.zoom-img-holder .description .btn {
    margin-left: 10px;
    color: white;
    border: 1px solid black;
}
.zoom-img-holder .description .btn:hover {
    color: black;
    background: white;
}


@media (min-width : 900px ) {
    .img-dark-zoom:hover .description{
          visibility: visible;
          opacity: 1;
    }

}


/* ===============
 Franchise Update Blade
================*/


.img-in-table-fran-update{

    height: 50px;
    width: 50px;
}


/* Corse list */

.course_description {
    min-height: 6rem;
}




@media only screen and (min-width: 1025x) and (max-width: 1400px) {

}